header {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}

@media (min-width: 768px) {
    header {
        padding: 0 20px;
    }
    text {
        display: block;
    }

    .about {
        width: 60%;
        margin: 0 auto;
    }

    .insta{
        width: 70vw;
        justify-content: center;
        align-items: center;
    }

    .copright {
        margin: 0 auto;
    }

    .img__socials--footer {
        margin-right: 0.7em;
    }
}

@media (max-width: 1024px) {
    .socials {
        display: none;
    }
}

.button__messenger{
    display: flex;
    justify-content: flex-end;
}

.button__wpp {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.button__messenger--styles {
    display: flex;
    padding: 6px 16px;
    border-radius: 4px;
    align-items: center;
    border: 1px solid black;
}

.button__wpp--styles {
    display: flex;
    background-color: black;
    color:white;
    padding: 8px 16px;
    border-radius: 4px;
    align-items: center;
}


.button__logo--whatsapp {
    max-width: 2vh;
    max-height: 2vh;
    margin-right: 1vh;
}

.button__logo--messenger {
    max-width: 2.2vh;
    max-height: 2.2vh;
    margin-right: 1vh;
}

span {
    font: 1em Merriweather;
}

.header--center {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 30vh;
    padding-top: 1em;
}

.img__socials {
    width: 4.2vh;
    padding: 1.2em 0.6em 0;
}

iframe {
    height: 70vh;
}

h2 {
    font: 3em Merriweather;
    text-align: center;
    padding-top: 40px;
    padding-bottom:20px;
}

.text {
    font: 1.2em Merriweather;
    padding: 0 20px 40px;
}

.insta {
    display: flex;
    margin: 0 auto 40px;
    flex: 1;
}

.facebook  {
    width: auto;
}

img {
   width: 20vh;
}

div {
    display: flex;
    height: auto;
}

footer {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.copright {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.img__socials--footer {
    color-adjust: white;
    width: 4vh;
    padding: 1vh;
}

a {
    color: black;
    text-decoration: none;
}

@media (max-width: 415px) {
    .button__logo--whatsapp {
        display: none;
    }
    .button__wpp--styles,
    .button__messenger--styles {
        font-size: 0.8em;
        margin-left: 0.8em;
        margin-right: 0.8em;
    }
    .socials--footer {
        display: none;
    }
    footer .button__wpp--styles {
        display: none;
    }
    .insta {
        flex-direction: column;
    }
}

.deric {
    color: white;
}